<ion-header mode="ios">
  <ion-toolbar lines="none">
    <ion-button slot="end" size="small">
      Cadastre seu negócio
    </ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content class="flex-center ion-padding">
  <div class="">
    <ion-icon name="apps-outline" color="primary" size="normal"></ion-icon>
    <strong>CATEGORIAS</strong>
    <p>Navegue pelas categoria de AppCe</p>
    <ion-searchbar placeholder="O que você procura ?"></ion-searchbar>
    <div>
      <ion-card>
        <ion-card-content class="flex-center">
          <ion-grid class="flex-center">
            <ion-row>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col col-6>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col col-6>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col col-6>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col col-6>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <img src="../../assets/shapes.svg" alt="">
                  <p align="center">Categoria</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  

</ion-content>
