<ion-header mode="ios">
  <ion-toolbar lines="none">
    <ion-button slot="end" size="small">
      Cadastre seu negócio
    </ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content lines="none">
  <div class="ion-padding ion-border">
      <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
    <div class="ion-padding">
      <ion-icon name="navigate-outline" color="primary"></ion-icon>
      <span>Todas a cidades</span>
    </div>
  </div>
  <div>
    <ion-card>
      <ion-card-content class="flex-center">
        <ion-grid class="flex-center">
          <ion-row>
            <ion-col colspan="3">
              <p align="center" class="title">CATEGORIAS</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <img src="../../assets/shapes.svg" alt="">
                <p align="center">Categoria</p>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img src="../../assets/shapes.svg" alt="">
                <p align="center">Categoria</p>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img src="../../assets/shapes.svg" alt="">
                <p align="center">Categoria</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <img src="../../assets/shapes.svg" alt="">
                <p align="center">Categoria</p>
              </div>
            </ion-col>
            <ion-col col-6>
              <div>
                <img src="../../assets/shapes.svg" alt="">
                <p align="center">Categoria</p>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img src="../../assets/shapes.svg" alt="">
                <p align="center">Categoria</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div>
          <ion-button expand="block"  (click)="openTab(1)">
            VER TODAS AS CATEGORIAS
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>